    {% extends "layout.html" %}

    {% set bodyId = "page-home" %}

    {% block styles %}
        <!--referência os arquivos css/estilização para o html-->
        <link rel="stylesheet" href="/styles/home.css">
        <link rel="stylesheet" href="/styles/modal.css">
    {% endblock styles %}
    

        <!--Área do Conteúdo-->
        {% block content %}
            <div class="content">

                <header>
                    <img src="/assets/logo.svg" alt="Ecoleta">
                    <a href="/create-point">
                        <span></span>
                        Cadastre um ponto de Coleta</a>
                </header>
    
                <main>
                    <h1>Seu marketplace de coleta de resíduos</h1>
        
                    <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente</p>
                    
                    <a href="#">
                        <span></span><strong>Pesquisar pontos de Coleta</strong></a>
                    
                </main>
    
            </div>
        {% endblock content %}

            <!--Área da Pesquisa de Coleta-->
            {% block modal %}
                {% include "partials/modal.html" %}
            {% endblock modal %}

            {% block scripts %}
                    <script src="./scripts/index.js"></script>
            {% endblock scripts %}
