#page-create-point {
    width: 90%;
    max-width: 1100px;


    margin: 0 auto;
}

#page-create-point header{
    margin-top: 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Colorir / Definir peso da Fonte / Alinhar ao centro */
#page-create-point header a {
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* Inserir a imagem da seta ao lado do link */
#page-create-point header a span {
    margin-right: 16px;
    background-image: url('../assets/arrow-left.svg');

    display: flex;

    width: 20px;
    height: 24px;
}

/* Estilização Formulario */

form {
    background-color: white;
    margin: 80px auto;
    padding: 64px;

    border-radius: 8px;
 
    max-width: 730px;
}

form h1 {
    font-size: 36px;
}

form fieldset {
    margin-top: 64px;
    border: 0;
}

form legend {
    margin-bottom: 40px;
}

form legend h2 {
    font-size: 24px;
}

form .field {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 24px;
}

form .field-group {
    display: flex;

}

form input,
form select {
    background-color: #f0f0f5;

    border: 0;
    padding: 16px 24px;
    font-size: 16px;

    border-radius: 8px;
}
/* Remove as estilizações nativas dos navegadores */
form select {
    -webkit-appearance: none; /* Chrome */
    -moz-appearance: none; /* Mozilla */
    appearance: none; /* Demais */

}

form label {
    font-size: 14px;
    margin-bottom: 8px;
}

/* Estilização do Field do lado direito da tela */

form .field-group .field + .field {
    margin-left: 24px; /* Define o espaçamento externo do lado esquerdo */

}
/* Estilização Básica do Botão do Formulário */
form button {
    width: 260px; /* Define a Largura */
    height: 56px; /* Define a Altura */

    background-color: var(--primary-color); /* Define a cor do botão */
    border-radius: 8px; /* Define o arredondamento dos cantos do botão */

    color: white; /* Cor da Letra do que está escrito no botão */
    font-weight: bold; /* Peso da Fonte */
    font-size: 16px; /* Tamanho da fonte */
    border: 0; /* Zera as definições de borda do botão */

    margin-top: 40px; /* Espaçamento externo apartir do topo do botão */

    transition: backgroud-color 400ms; /* Define o tempo da mudança para o proximo estado do botão */
}
/* Estilização para quando o mouse passar por cima do botão presente no formulario */
form button:hover{
    background-color: #2fb86e; /* Cor do Botão */
}

/* Estilização de Itens de Coleta*/

/* Criar itens em Coluna / definindo tamanho do espaço entre elas */
.items-grid {
    display: grid; /* Define o tipo de display possibilitando novas caracteristicas para a estilização */
    grid-template-columns: 1fr 1fr 1fr; /* Cada definição (1fr) identifica uma coluna e quanto de espaço elas ocupam */
    gap: 16px; /* Espaço entre cada coluna */
}

/* Estilização dos itens da Lista */

.items-grid li {
    background-color: #f5f5f5; /* Define a cor de fundo */
    list-style: none; /* Retira o estilo nativo das Listas */

    border: 2px solid #f5f5f5; /* define a Borda de cada item da Lista (2px) Grossura (solid) estado da borda (#f5f5f5) cor da borda */
    border-radius: 8px; /* Arredonda a borda */
    height: 180px; /* Define a altura */

    padding: 32px 24px 16px; /* Define o espaçamento interno de cada BOX */

    display: flex; /* Define o tipo de display */
    flex-direction: column; /* Define a Direção do tipo de display Flex */
    align-items: center; /* Alinha os itens */
    justify-content: space-between; /* Define o espaço entre os containers */

    text-align: center; /* Alinha o texto */

    cursor: pointer; /* modifica o cursor indicando que é clicavel */
}

.items-grid li span {

    margin-top: 12px; /* Define Um espaçamento externo apartir do topo */
    flex: 1; /* Define como o item aumentará ou diminuira para caber no espaço disponivel em seu container */
    display: flex;
    align-items: center;

    color: var(--title-color);
}

.items-grid li.selected { /* Quando clicado o item da Lista vai se comportar desta maneira: */
    background: #e1faec; /* A cor do fundo irá mudar */
    border: 2px solid #34cb79; /* A Borda irá mudar  */
} /* Mostrando assim que o item foi selecionado */
/* Funcionará através de um JavaScript */

/* Impede que a imagem e a descrição não sejam sensiveis ao click deixando somente a li sensivel */
.items-grid li img,
.items-grid li span {
    pointer-events: none;
}